* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
}

.gambar-kiri {
  flex: 1;
  display: flex;
  margin-right: 10%;
}

.gambar-kiri img {
  width: 100%;
  height: 100%;
}

.login-kanan {
  flex: 1;
  display: flex;
}

.form-login {
  width: 80%;
  text-align: center;
  justify-content: center;
}

.logo img {
  margin-top: 10%;
}

form {
  text-align: left;
}

h2 {
  margin-bottom: 30%;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.checkbox input {
  margin-right: 10px;
  transform: scale(1.2);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
